<!DOCTYPE HTML>
<html>

<head>
  <meta charset="uft-8">
  <title>Speak in Beyonce</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans" rel="stylesheet">
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halcyon Days - An Exclusive Freebie for Codrops</title>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/flexslider.css" rel="stylesheet" >
    <link href="static/styles.css" rel="stylesheet">
    <link href="static/queries.css" rel="stylesheet">
    <link href="static/animate.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">

      </head>


</head>

<body id="top">
        <header id="home">

           <section class="hero" id="hero">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
                  <h1 class="animated fadeInDown steel" style="color:#ffa9c1"><b>SPEAK IN BEYONC&Eacute;</b></span></h1><br>
                  <p class="animated fadeInUp delay-05s" style="color:white">Express yourself through Beyonc&eacute; lyrics and GIFs</em></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <a class="page-scroll learn-more-btn" href="#lyrics" >Speak in Lyrics</a> 
                  <br>
                  <a class="page-scroll learn-more-btn" href="#gifDiv" >Speak in Gifs</a>
                </div>
              </div>
            </div>
          </section>
        </header>


          <div id="lyrics" class="container-fluid" style="background-color:black">
            <center> 
            <h1 class="animated fadeInDown steel" style="color:#ffa9c1"><b>SPEAK IN LYRICS</b></span></h1><br>
            <p class="animated fadeInUp delay-05s" style="color:white">Generate a lyric line and GIFs that fit your mood</em></p>
            </center>
            <br><br>
            <div class="row" style="padding-left: 5%">
              <center>
                <form action = "/results" method = "POST" id = "form">
                  <textarea class="user" name="input" placeholder="What are you feeling?" autofocus></textarea>
                  <br><br>
                  <input type="submit" name="submit" id="button" value="Translate">
                  <br><br>
                  <h3 style="font-size:30px"> {{lyric}} </h3>
                  <br><br>
                </form>
              </center>
            </div>
          </div>

          <div id="gifDiv" class="container-fluid" style="background-color:black">
            <center> 
            <h1 class="animated fadeInDown steel" style="color:#ffa9c1"><b>SPEAK IN GIFS</b></span></h1><br>
            <p class="animated fadeInUp delay-05s" style="color:white">Straight from GIPHY</em></p>
            </center>

            <br><br>
            <div class="row">
            <center>
              <img src= "{{ gif1 }}" style="height:200px;">
              <img src= "{{ gif2 }}" style="height:200px;">
              <img src= "{{ gif3 }}" style="height:200px;">
              <img src= "{{ gif4 }}" style="height:200px;">
              <img src= "{{ gif5 }}" style="height:200px;">
              <img src= "{{ gif6 }}" style="height:200px;">
              <img src= "{{ gif7 }}" style="height:200px;">
              <img src= "{{ gif8 }}" style="height:200px;">
              <img src= "{{ gif9 }}" style="height:200px;">
            </center>
            </div>
          </div>
 

<script src="../static/jquery.js"></script>
<script src="../static/bootstrap.min.js"></script>
<script src="../static/jquery.easing.min.js"></script>
<script src="../static/scrolling-nav.js"></script>


</body>

</html>
